.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $z-index-dialog;
    background: #000c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: var(--color-text-dark-background);
        color: var(--color-text-dark-foreground);
        padding: 20px;
        border-radius: 3px;
        box-shadow: 2px 2px 3px #555;
        min-width: 350px;
        min-height: 200px;
    }

    .title {
        margin: 0;
        color: var(--color-accent);
        font-weight: bold;
        text-align: center;
    }

    .message {
        margin: 20px 0;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            margin: 0 10px;
        }
    }

    &.confirm {
        .inner {
            border: 3px solid #b80a66;
        }

        .title {
            color: #b80a66;
        }

        .buttons button {
            background: #b80a66;
            color: #fff;

            &.neutral {
                background: #666;

                &:hover {
                    background: #888;
                }
            }

            &:hover {
                background: #c63a84;
            }
        }
    }

    &.success {
        .inner {
            border: 3px solid #6FBA34;
        }

        .title {
            color: #6FBA34;
        }

        .buttons button {
            background: #6FBA34;
            color: #fff;

            &:hover {
                background: #8bc75c;
            }
        }
    }

    &.fail {
        .inner {
            border: 3px solid #DF0000;
        }

        .title {
            color: #DF0000;
        }

        .buttons button {
            background: #DF0000;
            color: #fff;

            &:hover {
                background: #e53232;
            }
        }
    }

    &.alert {
        .inner {
            border: 3px solid #E5CE44;
        }

        .title {
            color: #E5CE44;
        }

        .buttons button {
            background: #E5CE44;
            color: #fff;

            &:hover {
                background: #ead769;
            }
        }
    }
}
