/* value_list */
.ide { 
    .value_list {
        min-width: 200px;
        color: var(--color-text-dark-foreground);
        padding: 5px 5px 0 5px;
        margin-bottom: 10px;
        border-radius: 6px;

        & > * {
            background: var(--color-text-light-background);
            color: var(--color-text-light-foreground);
            border-radius: 3px;
            margin-bottom: 10px;
            
            &:last-of-type {
                margin-bottom: 5px;
            }
        }

        .head {
            display: flex;
            flex-direction: row;
            padding: 5px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-weight: bold;

            .add {
                display: flex;
                flex-direction: row;
                margin: 0 0 0 auto;
            
                input {
                    width: calc(100% - 23px);
                    margin: 0 5px;
                }

                button {
                    background: var(--color-text-dark-background);
                    color: var(--color-text-dark-foreground);
                    padding: 0px 3px 3px 3px;

                    &:hover {
                        background: var(--color-accent);
                    }
                }
            }
        }        

        button {
            margin: 0 0 0 auto;
            padding: 3px;
            line-height: 0;
            height: 20px;
            width: 20px;
            background: var(--color-text-light-background);
            border: 1px solid var(--color-text-light-background);
            color:  var(--color-accent);
            font-size: 18px;

            &:hover {
                color: var(--color-text-light-foreground);
            }

            &:not(:last-of-type) {
                margin-right: 3px;
            }

            & + button {
                margin-left: 3px;
                padding: 0 3px 3px 3px;
            }
        }


        .bool .change, .number .change, .text .change {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        .bool .channel, .number .channel {
            border: 1px solid;
            border-radius: 10000px;
            padding: 2px;
            min-width: 1.5em;
            text-align: center;
        }

        .settings .group {
            margin-top: 10px;
        
            select {
                margin-left: 10px;
            }

            & > * {
                margin-top: 5px;
            }

            input + label {
                margin-left: 5px;
            }
        }

        .number:not(.isslider) .settings {
            display: none;
        }

        .bool .settings {
            display: none;
        }

        .number .slidervalue {
            margin: 0 4px;
            min-width: 6em;
            text-align: center;
        }

        .number:not(.isslider) .change input[type="range"], .number:not(.isslider) .slidervalue {
            display: none;
        }

        .number.isslider .change input[type="number"]{
            display: none;
        }

        .bool input, .number input, .text input {
            margin: 0 7px 0 7px;
            outline: none;
        }

        .number .change input[type="number"], .number .change input[type="text"]{
            width: calc(50% - 70px);
        }

        .number .settings input[type="number"], .number .settings input[type="text"], .text input[type="text"] {
            width: calc(100% - 70px);
            max-width: 150px;
        }

        .bool .result, .number .result, .text .result {
            margin: 0 0 0 auto;
        }

        .user_label_container {
            display: inline-block;
            position: relative;

            .user_label {
                background: transparent;
                border: 1px solid transparent;
                border-radius: 3px;
                padding: 3px 4px 3px 27px;
                cursor: text;
                transition: all 0.2s ease 0s;
                width: calc(100% - 5px)!important;
                color: var(--color-text-light-foreground);
            }

            &:after {
                content: '\e905';
                font-family: iconfont;
                position: absolute;
                left: 8px;
                cursor: text;
            }

            &:hover {
                &:after {
                    color: var(--color-accent);
                }

                .user_label {
                    border-color: var(--color-text-light-foreground);
                }
            }
        }
    }



    #property.value_list .bool, #property.value_list .number, #property.value_list .text {
        display: flex;
        flex-direction: row;
        margin: 3px 0;
        padding: 5px;
    }

    .value_list .bool, .value_list .number, .value_list .text {
        display: flex;
        flex-direction: column;
        margin: 3px 0;
        padding: 5px;
    }

    #output.value_list .bool, #output.value_list .number, #output.value_list .text {
        flex-direction: row;
    }

    #input .open_input_settings {
        padding: 0;

        img {
            display: inline-block;
            width: auto;
            height: 20px;
        }
    }
}